.advantages {
  padding-bottom: 325px;
  background-color: #F2F2F2;
}

.advantages__question {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $primary-color;
}

.advantages__answer {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $primary-color;
}
