.contest__container {
  padding: 0 20px;
}

.contest__lead {
  width: 280px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 490px;
    padding: 95px 0 75px 0;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 755px;
  }
}

.contest__lead-append {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
