.logo {
  width: 74px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    height: 40px;
  }
}

.logo__image {
  margin-top: 10px;
  width: 74px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    height: 40px;
  }
}
