.photo-item {
  position: relative;
  padding-bottom: 55px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    min-height: 455px;
  }
}

.photo-item__image-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 300px;
  }
}

.photo-item__image {
  object-fit: cover;
  width: 100%;
}

.photo-item__user {
  margin: 0;
  line-height: 24px;
  font-weight: bold;
}

.photo-item__message {
  padding: 7px 17px 0 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 0 30px;
  }
}

.photo-item__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-item__text {
  margin: 0;
}

.photo-item__likes {
  position: absolute;
  bottom: 20px;
  margin: 0;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $accent-color;
}
