.promo {
  position: relative;
  z-index: 0;
  margin-top: -70px;
  margin-bottom: 253px;
  padding-top: 90px;
  background-color: $primary-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-top: -110px;
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 52px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 210px;
    padding-bottom: 39px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.promo__container {
  position: relative;
  padding-bottom: 332px;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 286px;
    bottom: 15px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 258px 286px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;

    &::after {
      z-index: -1;
      right: 20px;
      bottom: -52px;
      width: 660px;
      height: 605px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-position: 0 60px;
      background-size: 700px 545px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 400px;
    padding-left: 10px;
    padding-right: 10px;

    &::after {
      width: 1050px;
      height: 650px;
      bottom: -40px;
      left: -115px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position: 140px 5px;
      background-size: 1050px 645px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }
}

.promo__slogan {
  width: 280px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 0;
    padding: 0 50px;
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
    font-size: 50px;
    line-height: 68px;
  }
}

.promo__downloads {
  position: absolute;
  bottom: -255px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    bottom: 55px;
  }
}
