.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 172px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.social-list__link {
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba($primary-color, 0.1);
  border-radius: 50%;
  transition: border-color 0.5s;

  &:hover, &:focus {
    border-color: $primary-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.social-list__link-icon {
  fill: $accent-color;
}
