.upload__container {
  padding: 0 20px;
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 30px;
    padding: 0 60px 0 80px;
  }
}

.upload__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-bottom: 70px;
  }
}

.upload__image-wrapper {
  width: 280px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 300px;
    top: 23px;
  }
}

.upload__filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 280px;
    min-height: 400px;
    margin-left: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }
}

.upload__filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
  padding: 0 50px 0 37px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.upload__filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  fill: rgba($primary-color, 0.3);
  transition: fill 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    fill: rgba($primary-color, 0.5);
  }

  &--current {
    fill: $accent-color;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

.upload__filters {
  margin: 0;
  padding: 0;
  list-style: none;
}

.upload__filter {
  display: none;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -2px;
    width: 100vw;
    height: 1px;
    background-color: $primary-color;
    opacity: 0.1;
  }

  &--current {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 25px;

    &::after {
      width: 100%;
      left: 0;
    }
  }


  @media (min-width: $desktop-width) {

    padding-bottom: 15px;
    padding-top: 15px;

    &--crop svg {
      width: 44px;
      height: 44px;
    }

    &--fill svg {
      width: 48px;
      height: 46px;
    }

    &--contrast svg {
      width: 33px;
      height: 32px;
    }

    &::after {
      bottom: 2px;
    }

    &:last-child {
      &::after {
        height: 0;
      }
    }
  }
}

.upload__filter-scale {
  appearance: none;
  width: 100%;
  height: 2px;
  margin: 0 20px;

  background-color: $primary-color;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 2px solid $accent-color;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 2px solid $accent-color;
    border-radius: 50%;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 290px;
  }
}

.upload__filter-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 48px;
    align-items: center;
    justify-content: center;

    fill: $accent-color;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
  }
}

.upload__buttons {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 27px;
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    bottom: 32px;
    flex-direction: row;
  }
}

.upload__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  border: 3px solid $primary-color;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $primary-color;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, opacity 0.3s;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.upload__confirm-btn {
  border-color: $accent-color;
  color: $accent-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

.upload__cancel-btn {
  opacity: 0.1;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    color: #ffffff;
    background-color: $primary-color;
  }
}
